.UpdateEmployee {
	
    direction: ltr;
    width: 500px;
    margin-top: 20px;
    display: inline-block;
    border: 4px solid #660808;
    border-radius: 10px;
    text-align: left;	
    padding: 5px 5px 10px 20px;
}

.UpdateEmployee .title { 
    color: rgb(102, 8, 8);	
}

.UpdateEmployee label {    
    line-height: 35x;
}
.UpdateEmployee input {
    display:flex;    
    width: 90%;
    height: 25px;
    border: 2px solid rgb(102, 12, 39);
    border-radius: 3px;

}

.UpdateEmployee button {
    border: 2px solid rgb(102, 12, 39);
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 22px;
    font-weight: 700;
    width: 100px;
    margin-left: 40%;
    
}

.UpdateEmployee span {
    color: red;
    margin: 0 20px;
    position: absolute;
    font-size: 20px;
}
